.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main h1 {
  margin-left: 4vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 39.06px;
  line-height: 47px;
  letter-spacing: -0.05em;

  color: #ffffff;
}

.list {
  justify-content: left;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.bgdiv {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
