.nav {
  background: #21222a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoDiv {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22.2535px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #61dafb;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #deebf8;
}

.logo {
  height: fit-content;

  margin-right: 1vh;
}
